@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary,
time, mark, audio, video {
    background:transparent;
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    font-size: 100%;
    font: inherit;
    font-style: normal;
    font-weight: inherit;
    vertical-align: baseline;
    font-family:"Arial Unicode MS",Helvetica,Arial,sans-serif;
    font-family: "Roboto", sans-serif;
}

html { overflow-y: scroll; height:100%; }

html { -webkit-font-smoothing: antialiased; }

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* flashing issue for ipad */
body *, #main-header {
-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

body {
/*   overflow-x: hidden; */
  background-color: rgba(0, 232, 255, .8);
  padding-top:80px;
}

/* h2 {
  padding: 10px 0;
} */

h2, h3, h4 {
    font-weight: bold;
    font-size: 18px;
    color: rgb(63, 127, 191);
}

/* icon */

@font-face {
	font-family: 'fileuploader';
	src:url('/fonts/fileuploader.eot?n2vgwj');
	src:url('/fonts/fileuploader.eot?#iefixn2vgwj') format('embedded-opentype'),
		url('/fonts/fileuploader.ttf?n2vgwj') format('truetype'),
		url('/fonts/fileuploader.woff?n2vgwj') format('woff'),
		url('/fonts/fileuploader.svg?n2vgwj#fileuploader') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'fileuploader';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}

/* icons input*/
.icon-jpg:before {
	content: "\e607";
}
.icon-mp3:before {
	content: "\e600";
}
.icon-video:before {
	content: "\e601";
}
.icon-empty-file:before {
	content: "\e608";
}
.icon-text-file:before {
	content: "\e602";
}
.icon-png:before, .icon-gif:before, .icon-tff:before {
	content: "\e603";
}
.icon-zip:before {
	content: "\e609";
}
.icon-folder:before {
	content: "\e60a";
}
.icon-upload:before {
	content: "\e60b";
}
.icon-user-plus:before {
	content: "\e60c";
}
.icon-user-minus:before {
	content: "\e60d";
}
.icon-user-check:before {
	content: "\e60e";
}
.icon-download:before {
	content: "\e60f";
}
.icon-link:before {
	content: "\e610";
}
.icon-warning:before {
	content: "\e611";
}
.icon-enter:before {
	content: "\e612";
}
.icon-checkbox-checked:before {
	content: "\e613";
}
.icon-checkbox-unchecked:before {
	content: "\e614";
}
.icon-drive:before {
	content: "\e615";
}
.icon-pdf:before {
	content: "\e604";
}
.icon-openoffice:before {
	content: "\e605";
}
.icon-doc:before, .icon-docx:before {
	content: "\e606";
}
.icon-excel:before {
	content: "\e616";
}
.icon-libreoffice:before {
	content: "\e617";
}
.icon-html:before, .icon-css:before {
	content: "\e618";
}

.fileTxt{
    text-overflow: ellipsis;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    padding-top: 5px;
    display: inline-block;
}

button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    text-align:center;
    outline: none;
    text-transform: uppercase;
    font-style: normal;
    background: #8dc63f;
    color:#fff;
    text-decoration: none;
}

button:hover{
    color:#fff;
    background-color:#638c2c;
}

.container {
    top:50px;
    width: 100%;
    height: 100%;
    position:absolute;
}

.header {
    height:50px;
    background-color: rgba(0, 232, 255, 1);
    position:fixed;
/*     margin-top:0; */
    top:0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px rgba(255,255,255,.4);
}

.logo {
    position:absolute;
    top:50%;
    line-height:30px;
    margin-top:-15px;
    padding:0 .5em 0 .5em;
    border-radius:8px;
    left:20px;
    text-transform: uppercase;
}

.logo h2 {
    font-size:30px;
    font-weight:bold;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,.3);
}

.uploader_btn_top{
    height:30px;
    width:30px;
    line-height:30px;
    margin-top:-15px;
    position:absolute;
    background:#004990;
    border-radius:50px;
    right:20px;
    top:50%;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    cursor: pointer;
}

.wrapper{
    padding:0 5px 0 20px;
    margin: 0 0 60px 0;
    position:relative;
}

/* list wrap */
.list_item_wrap{
    position:relative;
    display: inline-block;
    width: 25%;
    transition: width 0.2s;
}

/*
.list_item_wrap:first-child{
    margin-left: 0;
}
*/

.list_item_wrap .list_space{
    min-height:140px;
    margin: 15px 15px 0 0;
    border-radius:10px;
    background:#fff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
    border: solid 1px #ccc;
    padding: 10px;
}

.list_item_wrap .list_space .list_divider{
    list-style:none;
    position:relative;
    vertical-align:top;
}

.list_item_wrap .list_space .list_divider li.leftd, .list_item_wrap .list_space .list_divider li.rightd {
    display:block;
    vertical-align:top;
    text-align:center;
/*    min-height:80px;*/
}

.list_item_wrap .list_space .list_divider li.leftd{
/*    width:25%; */
    text-align:center;
/*    border-right:solid 1px #ccc;*/
    text-align: center;
}

.list_item_wrap .list_space .list_divider li.rightd{
/*    width:70%;*/
    padding-top: 10px;
}

.list_divider li.rightd .user_m {
    display: block;
    margin: 0;
    color: #666;
    font-size: 15px;
}

.list_divider li.leftd .iconFile {
    width:40px;
    min-height:40px;
    background:none;
    display: inline-block;
    text-align: center;
/*
    position:absolute;
    top:40px;
    left:0;
    margin-top:-15px;
*/
}

.list_divider li.leftd .date_desc {
    margin-left:-10px;
    margin-right:-10px;
    margin-top: 5px;
    text-align: left;
    background-color: #eee;
}

.list_divider li.leftd p{
    font-size:12px;
    font-weight:bold;
    padding:0.5em 1em;
}

.list_divider li.leftd p.date_md {
    padding:0 1em 0.5em;
}

p.date_md, p.date_d {
    white-space: nowrap;
}

.list_divider li.rightd h2{
    text-align:center;
}

.list_item_wrap .list_divider .share_btn, .btn_comm{
    border: none;
    padding: 8px 20px;
    display: inline-block;
    margin: 10px 0 0 0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.btn_comm{
    margin: 10px;
}

.list_item_wrap .list_divider .delete_btn{
    position: absolute;
    text-align: center;
    top: -10px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 15px;
    right: -10px;
    height: 30px;
    width: 30px;
    line-height: 22px;
    cursor: pointer;
    color: #111;
}

/* footer */
.big_upload_Btn_Box{
    height:60px;
    position:fixed;
    text-align:center;
    bottom:0;
    width:100%;
    background: rgba(120,120,120,0.8);
/*    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);*/
    border-top: solid 1px #808080;
}

.big_upload_Btn_Box .upload_btn_bottom {
    padding: 10px 0;
    width: 400px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px 0 0px;
    text-transform: none;
}

.hid_loader_file{
    position:relative;
    margin-top:17px;
    display:inline-block;
}

.hid_loader_file input[type="file"], .uploader_btn_top input[type="file"]{
    position:absolute;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    padding:0;
    border:0;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow:hidden;
    cursor: pointer;
}


.login_user, .dialogMessage {
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,.3);
    width:400px;
    border-radius:3px;
    left:50%;
    background:#fff;
    border:solid 1px #eee;
    margin-left:-200px;
    min-height:150px;
    top:50%;
    margin-top:-75px;
    position:fixed;
    z-index:9999;
    transition: top 0.3s;
}

.login_space, .msg_space{
    padding:20px;
    text-align:center;
}

.login_space h2{
    font-size:30px;
}

.login_space h3{
    color:#666;
}

.sign_in_box{
    padding:20px;
}

/*
.sign_in_box input.sign_in_txt {
    background:#eee;
    display:inline-block;
    height:40px;
    color: #666;
    padding:0 20px;
    border:solid 1px #ccc;
}

.sign_in_box .sign_in_submit {
    display:inline-block;
    border-radius:5px;
    font-weight:bold;
    color:#fff;
    margin-left:10px;
    padding:10px 20px;
    background:#004990;
    text-transform: uppercase;
    height:40px;
} */

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
/*   max-width: 360px; */
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type=text],
.form input[type=password],
.form input[type=file],
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form select {
    display: block;
    height: 47px;
    color: #555;
    background-image: none;
    border-radius: 2px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(63, 127, 191, 1);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(63, 127, 191);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.hlight_box{
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    z-index:999;
    transition: background 0.8s;
}


/*hide hlight box*/
.hlight_box.hidebx{
/*    display: none;*/
    background:rgba(0,0,0,0);
    height: 0;
}

.hlight_box.showbx{
/*    display: block;*/
    background:rgba(0,0,0,0.5);
}

.login_user.hidebx, .dialogMessage.hidebx{
/*    display: none;*/
    top: -1000px;
    visibility: hidden;
/*
    background:rgba(0,0,0,0.5);
    z-index: 9999;
*/
}

[placeholder='type your full name']:focus {
  opacity: 0;
}

.login_user {
  position: relative;
  top:50px;
}


.login_user .form {
   background: none;
   padding: 0;
   margin: 0;
   width: 100%;
   box-shadow: none;
   text-align: left;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

/* label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
} */

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

    .list_item_wrap{

    }

    .list_item_wrap .list_space .list_divider li.leftd {
        width: 45%;
        border-right: solid 1px #ccc;
        text-align: center;
        display: inline-block;
    }

    .list_divider li.leftd .date_desc {
        margin: 5px 0 0 0;
        text-align: left;
        background: none;
    }

    .list_item_wrap .list_space .list_divider li.rightd {
        width: 55%;
        padding-top: 10px;
        display: inline-block;
    }

    .list_divider li.rightd .user_m {
        display: block;
        margin: 0;
        color: #666;
        font-size: 15px;
    }

    .list_item_wrap .list_divider .share_btn {
        margin: 20px 0 0 0;
    }

    .list_divider li.leftd p.date_md, .list_divider li.leftd p.date_d {
        padding-right:0;
        padding-left:0;
        text-align: center;
    }

}

/* Large screens ----------- */
/*
@media only screen
and (min-width : 1824px) {
}
*/

@media only screen
and (max-width : 850px) {
    .list_item_wrap{
        width: 33.3%
    }
}

@media only screen
  and (min-width: 481px)
  and (max-width: 651px) {
     .list_item_wrap{
        width: 50%
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

    .list_item_wrap{
        width: 33.3%
    }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

    .list_item_wrap{
        width: 25%
    }
}

/* iPads (portrait) ----------- */
/*
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
}
*/

/* Portrait and Landscape */
@media only screen
  and (min-width: 481px)
  and (max-width: 650px) {
     .list_item_wrap{
        width: 50%
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
  and (min-width: 320px)
  and (max-width: 480px) {

    .wrapper{
        padding: 10px;
    }

    .list_item_wrap{
        display: block;
        width: auto;
    }

    .list_item_wrap .list_space{
    min-height:auto;
    margin: 15px 0 0 0;
    border-radius:10px;
    background:#fff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
    border: solid 1px #ccc;
    padding: 10px;
}

    .big_upload_Btn_Box{
        display: none;
    }

    .list_item_wrap .list_space .list_divider li.leftd {
        width: 45%;
        border-right: solid 1px #ccc;
        text-align: center;
        display: inline-block;
    }

    .list_divider li.leftd .date_desc {
        margin: 5px 0 0 0;
        text-align: left;
        background: none;
    }

    .list_item_wrap .list_space .list_divider li.rightd {
        width: 55%;
        padding-top: 10px;
        display: inline-block;
    }

    .list_divider li.rightd .user_m {
        display: block;
        margin: 0;
        color: #666;
        font-size: 15px;
    }

    .list_item_wrap .list_divider .share_btn {
        margin: 20px 0 0 0;
    }

    .login_user, .dialogMessage{
        width: 100%;
        width: 98%;
        left: 1%;
        margin-left: 0;
    }
}


@keyframes spin{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.water {
      position: absolute;
      background-color: rgba(0, 232, 255, 1);
      z-index: 1;
      width: 800px;
      height: 800px;


      transform: translateZ(0);
      -webkit-transform: translateZ(0);

      transition: all 0.5s ease !important;
      -webkit-transition: all 0.5s ease !important;

      top: 50%;
      left: -50%;
      border: 1px solid transparent;
      border-radius: 40% !important;

  animation-name: spin;
       animation-duration: 8s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
    }
